@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap');
@import './reset';
@import '../ui/variables';

body {
  font-family: 'Roboto', sans-serif;
  background: $neutral;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;    
}

h1 {
  font-weight: 400;
  font-size: 45px;
}

p {
  font-size: 16px;
  padding: $padding;
}

header {
  height: #{$headerHeight - $padding * 2};
  padding: $padding;
  border-bottom: $borderHeight solid $carbon;
  background-color: $white;
}

.content {
  height: calc(100vh - #{$headerHeight + $footerHeight + ($padding * 2) - $borderHeight});
  padding: $padding;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: $watermelon;
}






